* {
    box-sizing: border-box;
    font-family: "Railway", sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: lightyellow;
  }
  

  .bayan-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 600px;
    border-bottom: 1px solid grey;
  }

  .bayan-wrapper:first-child {
    border-top: 1px solid grey;
  }
  
  .bayan-wrapper:last-child{
    border: none;
  }

  .meme-img {
    opacity: 0;
    height: 0;
    transition: all 300ms ease;
  }

  img{
    width: 500px;
    height: 500px;
    margin: 15px;
    transition: all 300ms ease;
  }

  input{
    display: none;
  }

  input:checked ~ .meme-img{
   opacity: 1;
    height: fit-content;
    transition: all 300ms ease;
  }

  .bayan-wrapper:hover > .meme-img{
    opacity: 1;
     height: fit-content;
     transition: all 1s ease;
   }

   .accordion:hover{
    cursor: pointer;
   }